


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-skill
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }

    .site-main > .projects-area .projects{
        width: 13rem;
    }
    

}


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
    
    .content-row{
        display: flex;
        padding-left: 4%;
    }
    .blog-brief{
        display: none;
    }
    .blog-link{
        display: none;
    }
    .blog-title{
        font-size: 1rem;
        font-weight: 500;
    }

}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .skill-area .skill-title{
        padding: 3% 1%;
    }
    .site-main .projects-area .projects-title,
    .site-main .about-area{
        padding: 3% 4%;
    }
    


}