
/* css variables */ 
@import url(partials/variables.css);

/* import global styling */ 
@import url(partials/global.css);

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
/* start navigation */ 

.header_area .main-menu .navbar>h2{
    padding: 0 2rem 0 5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--kanit);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    /* background: url(../img/banner/home-banner.png) no-repeat 0% 50%; */
    background-color: rgba(195, 212, 233, 0.562);
}

.site-main .site-banner .site-title h3{
    padding-top: 25%;
    font-weight: 500;
}


.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}



/* End Banner Area */ 

/* Start skill Area */ 

.site-main .skill-area{
    padding: 1rem 10rem;
    margin-bottom: 2rem;
}

.site-main .skill-area .first-row{
    display: flex;
    justify-content: center;
}

.site-main .skill-area .first-row .col-lg-2{
    display: flex;
    justify-content: center;
}

.site-main .skill-area .first-row .col-lg-2 > .single-skill{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 0.1rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .skill-area .first-row .col-lg-2 > .single-skill > img{
    width: 100%;
    height: 100%;
}

.site-main .skill-area .first-row .col-lg-2 > .single-skill:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .skill-area .first-row .col-lg-2 > .single-skill > img{
    filter: brightness(0.15);
}

/* End skill Area */ 

/* projects Area */ 

.site-main .projects-area{
    padding: 3rem 2rem;
}

.site-main .projects-area .first-row{
    display: flex;
    justify-content: center;
}


.site-main .projects-area .projects-title{
    padding: 1rem 14rem;
}

.site-main .projects-area .projects-title h1{
    font-size: 45px;
}

.site-main > .projects-area .projects{
    background: rgba(248, 252, 253, 0.973);
    /* padding: 2rem 0; */
    width: 16rem;
    margin: 1rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .projects-area .projects:hover{
    box-shadow: var(--box-shadow);
}
.site-main .projects-area .project-img>img{
    width: 90%;
}


/* End projects Area */ 

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--kanit);
}

footer.footer-area .social a > img{
    font-size:22px;
    width: 100px;
    padding: 2rem;
    color: var(--border-color);
    /* transition: box-shadow .7s ease; */
    transition: transform .4s ease;
}

footer.footer-area .social a:hover > img{
    /* box-shadow: var(--box-shadow); */
    /* transform: scale(1.1); */
    filter: brightness(0.7);
}


/* End Footer */ 


